# Base URL for the application (used in sitemap and other places)
NEXT_PUBLIC_BASE_URL=https://zentavos.com

# Mobile App Scheme (com.zentavos.zentavoslocal, com.zentavos.zentavosdev, com.zentavos.zentavosuat, or com.zentavos.mobile)
NEXT_PUBLIC_MOBILE_APP_SCHEME=com.zentavos.zentavoslocal

# Add other environment variables below this line
# DATABASE_URL=your_database_connection_string
# API_KEY=your_api_key
